body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: #fc0707;
}
a{
    color: #fc0707;
    text-decoration: none;
}

.coso{
    color: #b1adad;
}

img{
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto;    /* Mantiene la proporción de la imagen */
    display: block;  /* Elimina el espacio extra debajo de la imagen */
    border-bottom: 5px solid rgb(255, 0, 0); /* Borde rojo de 5px en la parte inferior */
}

.subrayar{
    text-decoration: underline; /* Subrayado */
    text-decoration-color: #ff0000;  /* Color del subrayado */
    color: #000000;
}

.cursiva{
    font-style: italic;
    color: #b1adad;
}